body{
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: #efefef;
}
*{
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}
.page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
header{
	color: #fff;
	background-color: #6d87e9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a9befc), color-stop(.5, #7e95ec), color-stop(.51, #6d87e9), to(#566cd5)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #a9befc, #7e95ec 50%, #6d87e9 51%, #566cd5);
	background-image: -moz-linear-gradient(top, #a9befc, #7e95ec 50%, #6d87e9 51%, #566cd5);
	background-image: -ms-linear-gradient(top, #a9befc, #7e95ec 50%, #6d87e9 51%, #566cd5);
	background-image: -o-linear-gradient(top, #a9befc, #7e95ec 50%, #6d87e9 51%, #566cd5);
	background-image: linear-gradient(top, #a9befc, #7e95ec 50%, #6d87e9 51%, #566cd5);
	line-height: 42px;
	height: 42px;
	border-top: 1px solid #c5d4ff;
	border-bottom: 1px solid #4b61b3;
	position: absolute;
	width: 100%;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
header h1{
	padding: 0;
	text-align: center;
	font-size: 20px;
	text-shadow: 0 -1px rgba(0,0,0,.5);
	margin: 0 80px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#close-image{
	position: absolute;
	top: 6px;
	right: 10px;
}
.header-button{
	height: 29px;
	line-height: 29px;
	font-size: 12px;
	color: #fff;
	background-color: rgba(68,87,162,.3);
	border: 1px solid rgba(0,0,0,.3);
	text-shadow: 0 -1px rgba(0,0,0,.6);
	font-weight: bold;
	padding: 0 10px;
	text-decoration: none;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.header-button.tappable-active{
	background-color: rgba(68,87,162,.5);
}
#seasons{
	right: 5px;
	position: absolute;
	top: 8px;
	font-size: 75%;
	border: 1px solid #5d76ea;
	color: rgba(0,0,0,.7);
	text-shadow: 0 1px #fff;
}
#seasons option{
	text-shadow: none;
}
.loading{
	background: transparent url(loading.gif) center no-repeat;
}
.scroll{
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
}
#blank{
	padding: 20px;
	color: #444;
	text-align: center;
	line-height: 1.5em;
	text-shadow: 0 1px #fff;
}
.animes-list{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
}
.animes-list li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	line-height: 1.2em;
}
.animes-list li:first-child{
	border-top: 1px solid #e0e0e0;
}
.animes-list h2{
	font-size: 100%;
	margin: 5px 5px 0 0;
	padding: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #1765CD;
}
.animes-list a{
	text-decoration: none;
	color: #1765CD;
}
.animes-list h2.active a,
.animes-list a.active{
	background-color: #bbceff;
}
.animes-list .img{
	float: left;
	width: 50px;
	height: 70px;
	margin-right: 7px;
}
.animes-list .img img{
	cursor: pointer;
}
.animes-list .score{
	float: right;
	font-size: 90%;
	font-weight: bold;
	line-height: 1em;
	color: #fff;
	background-color: #ccc;
	padding: 2px 5px;
	margin: 3px 10px 0 0;
	text-shadow: 0 -1px rgba(0,0,0,.2);
	border-radius: 3px;
}
.animes-list .score.mad{
	background-color: #bd3737;
}
.animes-list .score.good{
	background-color: #374ebe;
}
.animes-list .score.ok{
	background-color: #85a7fe;
}
.animes-list .episodes{
	font-size: 80%;
	line-height: 1em;
}
.animes-list .genres{
	color: #666;
	font-size: 80%;
	line-height: 1em;
}
#count{
	padding: 10px;
	color: #666;
	text-align: center;
	text-shadow: 0 1px #fff;
}
#image{
	background-color: #efefef;
	text-align: center;
	color: #666;
	text-shadow: 0 1px #fff;
}
#image img{
	background-color: #fff;
	min-width: 200px;
	min-height: 200px;
	margin: 10px 10px 5px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,.5);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#image p{
	margin: 0;
	padding: 0 10px 10px;
}

/* Transitions from jQtouch (with small modifications): http://www.jqtouch.com/
Built by David Kaneda and maintained by Jonathan Stark.
*/
.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 350ms;
}

.slide.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromright;
}

.slide.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
}

.slide.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromleft;
}

.slide.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
}

.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	z-index: 10;
}

.slideup.out {
	-webkit-animation-name: dontmove;
	z-index: 0;
}

.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	z-index: 10;
	-webkit-animation-name: slideouttobottom;
}

.slideup.in.reverse {
	z-index: 0;
	-webkit-animation-name: dontmove;
}
.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	z-index: 10;
}

.slidedown.out {
	-webkit-animation-name: dontmove;
	z-index: 0;
}

.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	z-index: 10;
	-webkit-animation-name: slideouttotop;
}

.slidedown.in.reverse {
	z-index: 0;
	-webkit-animation-name: dontmove;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}


@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideouttobottom {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes slideouttotop {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade.in {
	opacity: 1;
	z-index: 10;
	-webkit-animation-name: fadein;
}
.fade.out {
	z-index: 0;
	-webkit-animation-name: fadeout;
}

@media only screen and (max-height: 300px){
	header{
		line-height: 32px;
		height: 32px;
	}
	header h1{
		font-size: 16px;
	}
	#close-image{
		line-height: 22px;
		height: 22px;
		top: 4px;
	}
	#seasons{
		top: 4px;
	}
	.scroll{
		top: 34px;
	}
}