body{
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
*{
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}
.page{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#seasons-container{
	background-color: #cbd2d8;
	background-image: -webkit-gradient(linear, left top, right top, from(#c5ccd4), color-stop(0.714, #c5ccd4), color-stop(0.714, #cbd2d8), to(#cbd2d8)); 
	background-image: -webkit-linear-gradient(top, #c5ccd4, #c5ccd4 71.4%, #cbd2d8 71.5%, #cbd2d8);
	background-image: -moz-linear-gradient(top, #c5ccd4, #c5ccd4 71.4%, #cbd2d8 71.5%, #cbd2d8);
	background-image: -ms-linear-gradient(top, #c5ccd4, #c5ccd4 71.4%, #cbd2d8 71.5%, #cbd2d8);
	background-image: -o-linear-gradient(top, #c5ccd4, #c5ccd4 71.4%, #cbd2d8 71.5%, #cbd2d8);
	background-image: linear-gradient(top, #c5ccd4, #c5ccd4 71.4%, #cbd2d8 71.5%, #cbd2d8);
	-webkit-background-size: 7px 100%;
	-moz-background-size: 7px 100%;
	-ms-background-size: 7px 100%;
	-o-background-size: 7px 100%;
	background-size: 7px 100%;
}
header{
	color: #fff;
	background-color: #b2bbca;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(.5, #889bb3), color-stop(.51, #8195af), to(#6d84a2));
	background-image: -webkit-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 51%, #6d84a2);
	background-image: -moz-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 51%, #6d84a2);
	background-image: -ms-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 51%, #6d84a2);
	background-image: -o-linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 51%, #6d84a2);
	background-image: linear-gradient(top, #b0bccd, #889bb3 50%, #8195af 51%, #6d84a2);
	line-height: 42px;
	height: 42px;
	border-top: 1px solid #cdd5df;
	border-bottom: 1px solid #2d3642;
	position: absolute;
	width: 100%;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
header h1{
	padding: 0;
	text-align: center;
	font-size: 20px;
	text-shadow: 0 -1px rgba(0,0,0,.5);
	margin: 0 80px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.header-left{
	left: 4px;
}
.header-right{
	right: 4px;
}
.header-button{
	position: absolute;
	top: 6px;
	height: 29px;
	line-height: 29px;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0,.6);
	font-weight: bold;
	padding: 0 10px;
	text-decoration: none;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px rgba(255,255,255,.3), inset 0 1px 1px rgba(0,0,0,.2);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: 1px solid rgba(0,0,0,.26);
	border-top-color: rgba(0,0,0,.5);
	border-bottom-color: rgba(0,0,0,.5);
	background-color: #92a1bf;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8ea4c1), color-stop(.5, #5877a2), color-stop(.51, #476999), to(#4a6c9b));
	background-image: -webkit-linear-gradient(top, #8ea4c1, #5877a2 50%, #476999 51%, #4a6c9b);
	background-image: -moz-linear-gradient(top, #8ea4c1, #5877a2 50%, #476999 51%, #4a6c9b);
	background-image: -ms-linear-gradient(top, #8ea4c1, #5877a2 50%, #476999 51%, #4a6c9b);
	background-image: -o-linear-gradient(top, #8ea4c1, #5877a2 50%, #476999 51%, #4a6c9b);
	background-image: linear-gradient(top, #8ea4c1, #5877a2 50%, #476999 51%, #4a6c9b);
}
.header-button.tappable-active{
	background-color: #7d88a5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7d88a5), color-stop(.5, #3a4e78), color-stop(.51, #253c6a), to(#273f6d));
	background-image: -webkit-linear-gradient(top, #7d88a5, #3a4e78 50%, #253c6a 51%, #273f6d);
	background-image: -moz-linear-gradient(top, #7d88a5, #3a4e78 50%, #253c6a 51%, #273f6d);
	background-image: -ms-linear-gradient(top, #7d88a5, #3a4e78 50%, #253c6a 51%, #273f6d);
	background-image: -o-linear-gradient(top, #7d88a5, #3a4e78 50%, #253c6a 51%, #273f6d);
	background-image: linear-gradient(top, #7d88a5, #3a4e78 50%, #253c6a 51%, #273f6d);
}
.loading{
	background: transparent url(loading.gif) center no-repeat;
}
.scroll{
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
}
.list-pad{
	padding: 9px;
	border-bottom: 9px solid rgba(0,0,0,0);
}
#blank{
	padding: 20px;
	color: #5b6c84;
	text-align: center;
	line-height: 1.5em;
	text-shadow: 0 1px #fff;
}
.animes-list{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
}
.animes-list li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
	line-height: 1.2em;
}
.animes-list li:first-child{
	border-top: 1px solid #e0e0e0;
	margin-top: -1px;
}
.animes-list h2{
	font-size: 100%;
	margin: 5px 5px 0 0;
	padding: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #1765CD;
}
.animes-list a{
	text-decoration: none;
	color: #2571d8;
}
.animes-list h2.active a,
.animes-list a.active{
	background-color: #bbceff;
}
.animes-list .img{
	float: left;
	width: 50px;
	height: 70px;
	margin-right: 7px;
}
.animes-list .img img{
	cursor: pointer;
}
.animes-list .score{
	float: right;
	font-weight: bold;
	color: #fff;
	background-color: #bbb;
	margin: 3px 10px 0 0;
	border-radius: 3px;
	font-size: 14px;
	padding: 0 8px;
	height: 20px;
	line-height: 20px;
	border-radius: 12px;
}
.animes-list .score.mad{
	background-color: #bd3737;
}
.animes-list .score.good{
	background-color: #374ebe;
}
.animes-list .score.ok{
	background-color: #85a7fe;
}
.animes-list .episodes{
	font-size: 80%;
	line-height: 1em;
}
.animes-list .genres{
	color: #666;
	font-size: 80%;
	line-height: 1em;
}
#count{
	padding: 10px;
	color: #5b6c84;
	text-align: center;
	text-shadow: 0 1px #fff;
}
#seasons-container{
	background-color: #efefef;
}
#seasons-container>div{
	overflow: hidden;
}
#seasons{
	background-color: #fff;
	margin: 0;
	padding: 0;
	border: 1px solid #ababab;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-background-clip: padding-box;
	list-style: none;
}
#seasons li a{
	font-size: 20px;
	font-weight: bold;
	display: block;
	color: #000;
	text-decoration: none;
	padding: 0 10px;
	border-bottom: 1px solid #ababab;
	height: 43px;
	line-height: 43px;
}
#seasons li a b{
	display: inline-block;
	width: 13px;
	height: 14px;
	background: transparent url(check.png) no-repeat -13px 0;
	margin: 0 6px 0 0;
}
#seasons li:first-child a{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#seasons li:last-child a{
	border: 0;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#seasons li a span{
	display: inline-block;
	font-size: 14px;
	margin: 11px 0 0;
	padding: 0 8px;
	height: 20px;
	line-height: 20px;
	border-radius: 12px;
	background-color: #8b98b3;
	color: #fff;
	position: absolute;
	right: 19px;
}
#seasons li a.checked{
	color: #385487;
}
#seasons li a.checked b{
	background-position: 0 0;
}
#seasons li a.selected{
	color: #fff;
	background-color: #4286f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4286f5), to(#194fdb));
	background-image: -webkit-linear-gradient(top, #4286f5, #194fdb);
	background-image: -moz-linear-gradient(top, #4286f5, #194fdb);
	background-image: -ms-linear-gradient(top, #4286f5, #194fdb);
	background-image: -o-linear-gradient(top, #4286f5, #194fdb);
	background-image: linear-gradient(top, #4286f5, #194fdb);
}
#seasons li a.selected b{
	background-position: 0 -13px;
}
#seasons li a.selected span{
	color: #4286f5;
	background-color: #fff;
}
#image{
	background-color: #efefef;
	text-align: center;
	color: #666;
	text-shadow: 0 1px #fff;
}
#image img{
	background-color: #fff;
	min-width: 200px;
	min-height: 200px;
	margin: 10px 10px 5px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,.5);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#image p{
	margin: 0;
	padding: 0 10px 10px;
}

/* Transitions from jQtouch (with small modifications): http://www.jqtouch.com/
Built by David Kaneda and maintained by Jonathan Stark.
*/
.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 350ms;
}

.slide.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromright;
}

.slide.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
}

.slide.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromleft;
}

.slide.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
}

.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	z-index: 10;
}

.slideup.out {
	-webkit-animation-name: dontmove;
	z-index: 0;
}

.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	z-index: 10;
	-webkit-animation-name: slideouttobottom;
}

.slideup.in.reverse {
	z-index: 0;
	-webkit-animation-name: dontmove;
}
.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	z-index: 10;
}

.slidedown.out {
	-webkit-animation-name: dontmove;
	z-index: 0;
}

.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	z-index: 10;
	-webkit-animation-name: slideouttotop;
}

.slidedown.in.reverse {
	z-index: 0;
	-webkit-animation-name: dontmove;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}


@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideouttobottom {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes slideouttotop {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade.in {
	opacity: 1;
	z-index: 10;
	-webkit-animation-name: fadein;
}
.fade.out {
	z-index: 0;
	-webkit-animation-name: fadeout;
}

@media only screen and (max-height: 300px){
	header{
		line-height: 32px;
		height: 32px;
	}
	header h1{
		font-size: 16px;
	}
	.header-button{
		top: 4px;
		height: 23px;
		line-height: 23px;
		font-size: 11px;
	}
	#close-image{
		line-height: 22px;
		height: 22px;
		top: 4px;
	}
	.scroll{
		top: 34px;
	}
}